

<%- include('partials/header.ejs') %>

<%- include('nav.ejs') %>   <!-- same folder mai jo nav file hai use add kra -->

<%- include('carasol.ejs') %>   <!-- same folder mai jo carasol ki file hai use add kra -->

<section>

    <h1 align="center"> Admin Default page </h1>


</section>

<%- include('partials/footer.ejs') %>
